
/* for header part */
.header{
    background-image: url(../new-year-new-me/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}
.container{
    height: 800px;
    text-align: right;
    padding: 216 230 364 985;
}
.button{

}
h2{
    color: #FFFFFF;
    font-family: work sans-serif;
    font-weight: 400px;
    font-size: 700;
}